/* 촌부리체 */
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

/* 수트체 */
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');

header {
  font-family: 'SUIT';
  font-size: 18px;
  font-weight: 400;
}